.header {
  --mh: 7rem;
  min-height: var(--mh);
  width: 100vw;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--mh);
  position: relative;
}
.header__nav {
  background-color: var(--clr-white);
  position: fixed;
  right: 0;
  top: 0;
  min-width: 70vw;
  height: 100vh;
  padding-block: 10rem;
  padding-inline: 1.5rem;
  clip-path: circle(0% at 100% 0);
  transition: clip-path 0.6s ease;
}
/* for menu show hide functionality */
.show-menu {
  clip-path: circle(141.4% at 100% 0);
}
.header__nav-items {
  margin-bottom: 1.5rem;
}

.header__nav-links {
  color: var(--clr-blue-600);
  text-decoration: none;
  font-size: 1.2rem;
}
.hamburger-menu {
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: 9;
  width: 3.2rem;
  clip-path: circle(70.7% at 50% 50%);
  transition: clip-path 0.5s ease;
}
#hamburger-open {
  top: 3rem;
}
.hamburger-open-hide {
  clip-path: circle(0% at 50% 50%);
}
.hamburger-close-hide {
  clip-path: circle(0% at 50% 50%);
}

@media screen and (min-width: 700px) {
  .hamburger-menu {
    display: none;
  }
  .header__nav {
    clip-path: circle(141.4% at 100% 0);
    position: relative;
    padding: 0;
    height: var(--mh);
    min-width: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
  .header__nav-items {
    margin-bottom: 0;
  }
  .header__nav-list {
    display: flex;
  }
  .header__nav-items {
    margin-left: 2.5rem;
  }
  .header__nav-links {
    font-size: 1.1rem;
  }
}
