.header {
  --mh: 7rem;
  min-height: var(--mh);
  width: 100vw;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--mh);
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-links {
  margin-left: 2.5rem;
  text-decoration: none;
  color: var(--clr-blue-600);
}
