/* /////////////////////typography */
.header__nav-links {
  text-decoration: none;
  font-size: 1.2rem;
}
/*////////////////////// layout */
.header {
  --mh: 7rem;
  min-height: var(--mh);
  width: 100vw;
}
.header__container {
  min-height: var(--mh);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 70vw;
  height: 100vh;
  padding-block: 10rem;
  padding-inline: 1.5rem;
}
.header__nav-items {
  margin-bottom: 1.5rem;
}
.header__container {
  position: relative;
}
.hamburger-icon {
  position: absolute;
  z-index: 9;
  width: 3.2rem;
}
#hamburger-close-icon {
  /* placing hamburger closing cross icon */
  top: 2rem;
  right: 1rem;
}
#hamburger-open-icon {
  /* placing hamburger open icon */
  top: 3rem;
  right: 1rem;
}
/* ////////////////////////colors */
.header__nav {
  background-color: var(--clr-white);
}
.header__nav-links {
  color: var(--clr-blue-600);
}
/*////////////////////// transitions */
.header__nav {
  clip-path: circle(0% at 100% 0);
  transition: clip-path 0.6s ease;
}
.show-menu {
  /* for menu show hide functionality */
  clip-path: circle(141.4% at 100% 0);
}

.hamburger-icon {
  clip-path: circle(70.7% at 50% 50%);
  opacity: 1;
  transition: clip-path 0.5s ease, opacity 0.2s ease;
}

.hamburger-open-icon-hide {
  /* hide hamburger opening icon */
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
}
.hamburger-close-icon-hide {
  /* hide hamburger close cross icon */
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
}

@media screen and (min-width: 700px) {
  /* //////////////////typography */
  .header__nav-links {
    font-size: 1.1rem;
  }
  /* /////////////////////layout */
  .hamburger-icon {
    display: none;
  }
  .header__nav {
    clip-path: circle(141.4% at 100% 0);
    position: relative;
    padding: 0;
    height: auto;
    min-width: 0;
  }
  .header__nav-list {
    display: flex;
  }

  .header__nav-items {
    margin-bottom: 0;
  }
  .header__nav-items {
    margin-left: 2.5rem;
  }
  /* ///////////////////////colors */
  .header__nav {
    background-color: transparent;
  }
  /* //////////////////transitions */
}
